{% extends "base.html" %}

{% block titulo %}{{ block.super }} - Alterar Senha{% endblock %}

{% block corpo %}

<div class="container">
{% if validlink %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alterar Senha</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger">
                            {% if form.new_password1.errors %}
                                Nova senha: {{ form.new_password1.errors }}
                            {% endif %}
                            {% if form.new_password2.errors %}
                                Confirmar senha: {{ form.new_password2.errors }}
                            {% endif %}
                        </div>
                        <form role="form" method="post">{% csrf_token %}
                            
                            <fieldset>
                                <label for="id_new_password1">Nova senha:</label>{{ form.new_password1 }}
                            </fieldset>

                            <fieldset>
                                <label for="id_new_password2">Confimar senha:</label>{{ form.new_password2 }}
                            </fieldset>

                        <button type="submit" class="btn btn-lg btn-success btn-block">Alterar Senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h1>Erro ao recuperar a senha</h1>
        <p>O endereço usado para alterar a senha é inválido, <br />
        provavelmente por que já foi usado. <br />
        Por favor requisite uma nova senha.</p>
        {% endif %}
    </div>

{% load staticfiles %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.js' %}"></script>
{% endblock %}