{% extends "base.html" %}

{% block titulo %}{{ block.super }} - Alterar Senha{% endblock %}

{% block corpo %}

<div class="container">
{% if validlink %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alterar Senha</h3>
                    </div>
                    <div class="panel-body">
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                Cuidado: Os campos são sensível a maiúsculas e minúsculas
                            </div> 
                            {% endif %}
                        <form method="post">{% csrf_token %}
                        {{ form.new_password1.errors }}
                            <p class="aligned wide"><label for="id_new_password1">Nova senha</label>{{ form.new_password1 }}</p>
                        {{ form.new_password2.errors }}
                            <p class="aligned wide"><label for="id_new_password2">Confiarmar Senha</label>{{ form.new_password2 }}</p>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Alterar Senha</button>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h1>Erro ao recuperar a senha</h1>
        <p>O endereço usado para alterar a senha é inválido, <br />
        provavelmente por que já foi usado. <br />
        Por favor requisite uma nova senha.</p>
        {% endif %}
    </div>
{% endblock %}