{% extends "base.html" %}

{% block title %}{{block.super}}:Alterar Senha{% endblock %}

{% block corpo %}

<div class="container">
<h3> Por favor, insira seu endereço de e-mail para receber instruções de como recuperar a senha.</h3>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alterar Senha</h3>
                    </div>
                    <div class="panel-body">
                        {% if form.errors %}
                        <div class="alert alert-danger">{{ form.email.errors }}</div>								
                        {% endif %}
                        <form role="form" method="post">{% csrf_token %}
                            <fieldset>
								<p><label for="id_email">E-mail:</label> {{ form.email }}</p>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Enviar e-mail</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% load staticfiles %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.js' %}"></script>
{% endblock %}