{% extends "base.html" %}

{% block titulo %}{{ block.super }} - Alterar Senha{% endblock %}

{% block corpo %}
    {% if validlink %}
        <p>Por favor entre com a sua nova senha.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confimar senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Alterar senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Erro ao recuperar a senha</h1>
        <p>O endereço usado para alterar a senha é inválido, <br />
        provavelmente por que já foi usado. <br />
        Por favor requisite uma nova senha.</p>
    {% endif %}
{% endblock %}