{% extends 'servico/inicio_equipamento.html' %}

{% load bootstrap3 %}

{% block titulo %}{{block.super}} - Adicionar Equipamento{% endblock %}

{% block corpo %}
<div class="col-md-6 col-md-offset-3">
	<div class="login-panel panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" style="text-align: center;">Adicionar Equipamento</h3>
		</div>
		<div class="panel-body">
			<fieldset>
				<form action="" method="post"> {% csrf_token %}
					{% bootstrap_form form layout="vertical" %}
					<button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
				</form>
			</fieldset>
		</div>	
	</div>
</div>
{% endblock %}