{% extends 'servico/inicio_servico.html' %}

{% block titulo %}{{block.super}} - Detalhe{% endblock %}

{% block corpo %}
{% block actions-buttons %}
</div>
	<div class="btn-group">
	<a class="btn btn-warning" href="{% url 'servico:editarServico' servico.id %}">Editar</a>
	<a class="btn btn-danger" href="{% url 'servico:removeServico' servico.id %}">Excluir</a>
</div>
{% endblock %}

<div class="panel panel-default">
	<h1 style="text-align: center;">Detalhe - Serviço:{{ servico.codigo }}</h1>
    <div class="panel-body form-horizontal">
		<label class="col-md-2 control-label">Código:</label>
		<div class="col-md-4 form-control-static">{{ servico.codigo }}</div>

		<label class="col-md-2 control-label">Data de cadastro:</label>
		<div class="col-md-4 form-control-static">{{ servico.data_de_cadastro }}</div>

		<label class="col-md-2 control-label">Tipo de Serviço:</label>
		<div class="col-md-4 form-control-static">{{ servico.get_tipo_display }}</div>
		
		<label class="col-md-2 control-label">Data de início:</label>
		<div class="col-md-4 form-control-static">{{ servico.data_de_inicio }}</div>

		<label class="col-md-2 control-label">Data de fim:</label>
		<div class="col-md-4 form-control-static">{{ servico.data_de_fim }}</div>

		<label class="col-md-2 control-label">Valor cobrado:</label>
		<div class="col-md-4 form-control-static">R$ {{ servico.valor }}</div>

		<label class="col-md-2 control-label">Andamento do serviço:</label>
		<div class="col-md-4 form-control-static">{{ servico.andamento }}</div>

		<label class="col-md-2 control-label">Equipamento:</label>
		<div class="col-md-4 form-control-static">{{ servico.equipamento }}</div>

		<label class="col-md-2 control-label">Cliente:</label>
		<div class="col-md-4 form-control-static"><a href="{% url 'cadastro:detalheCliente' servico.cliente_id %}">{{ servico.cliente }}</a></div>

		<label class="col-md-2 control-label">Endereço:</label>
		<div class="col-md-4 form-control-static">{{ servico.endereco }}</div>
		

</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title" style="text-align: center;">Funcionários envolvidos</h1>
		</div>
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>Nome</td>
					<td>Detalhes</td>
				</tr>
				{% for funcionario in servico.funcionarios %}
					<tr>
						<td>{{ funcionario }}</td>
						<td><a class="btn btn-primary" href="{% url 'cadastro:detalheCadastro' funcionario.id %}">Detalhes</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}