{% extends 'servico/inicio_equipamento.html' %}

{% block titulo %}{{block.super}} - Listar{% endblock %}

{% block corpo %}
<div class="container">
<h2 class="subinicioapp">Listar</h2>

<table>
	<thead>
		<th>Código</th>
		<th>Nome</th>
		<th>Editar</th>
		<th>Descrição</th>
	</thead>

	<tbody>
		{% for equipamento in lista_equipamentos %}
			<tr>
				<td>{{ equipamento.codigo }}</td>
				<td>{{ equipamento.nome }}</td>
				<td><a href="{% url 'servico:editarEquipamento' equipamento.id %} ">Editar</a></td>
				<td><a href="{% url 'servico:detalheEquipamento' equipamento.id %} ">Detalhes</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}