{% extends 'servico/inicio_servico.html' %}

{% block titulo %}{{block.super}} - Listar{% endblock %}

{% block corpo %}
<div class="container">
<h2 class="subinicioapp">Listar</h2>

<table>
	<thead>
		<th>Excluir</th>
		<th>Código</th>
		<th>Data de inclusão</th>
		<th>Tipo</th>
		<th>Data de Início</th>
		<th>Data de Fim</th>
		<th>Situação</th>
		<th>Editar</th>
		<th>Detalhes</th>
	</thead>

	<tbody>
		{% for servico in lista_servicos %}
			<tr>
				<td><a href=" {% url 'servico:removeServico' servico.id %}">Detalhes
				<td>{{ servico.codigo }}</td>
				<td>{{ servico.data_de_cadastro|date:"d \d\e F \d\e Y"}}</td>
				<td>{{ servico.get_tipo_display }}</td>	
				<td>{{ servico.data_de_inicio }}</td>
				<td>{{ servico.data_de_fim }}</td>
				<td>{{ servico.andamento }}</td>
				<td><a href=" {% url 'servico:editarServico' servico.id %}">Detalhes</a></td>
				<td><a href=" {% url 'servico:detalheServico' servico.id %}">Detalhes</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}