{% extends 'servico/inicio_equipamento.html' %}

{% block corpo %}
<p>Equipamento</p>
	{{ block.super }}
<table>
	<thead>
		<th>Nome</th>
		<th>Descrição</th>
	</thead>

	<tbody>
		{% for equipamento in lista_equipamentos %}
			<tr>
				<td>{{ equipamento.nome }}</td>
				<td>{{ equipamento.descricao }}</td>
				<td><a href="{% url 'servico:detalheEquipamento' equipamento.id %} ">Detalhes</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>---</td>
				<td>---</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}