{% extends 'servico/inicio_servico.html' %}

{% block titulo %}{{block.super}} - Remover{% endblock %}

{% block corpo %}

<form method="post">{% csrf_token %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Remover usuário {{ cadastro }}?
    </div>
    <div class="panel-body">
        <p>Deseja Remover servico Nº <strong>{{ servico.codigo }} </strong>?</p>
    </div>
    <div class="panel-footer">
		<p>
			Código: {{ servico.codigo }} <br/>
			Descrição: {{ servico.descricao }} <br/>
			Tipo: {{ servico.get_tipo_display }} <br/>
		</p>
        <a class="btn btn-default" href="{% url 'servico:homeEquipamento' %}">Cancelar</a>
        <button class="btn btn-danger pull-right" type="submit">Excluir {{ cadastro }}</button>
    </div>
</div>
</form>

{% endblock %}