{% extends 'servico/inicio_servico.html' %}

{% block titulo %}{{block.super}} - Remover{% endblock %}

{% block corpo %}
	<h2 class="subinicioapp">Remover</h2>

	<p>Remover servico Nº {{ servico.id }}?</p>
	
	<p>
		Código: {{ servico.codigo }} <br/>
		Descrição: {{ servico.descricao }} <br/>
		Tipo: {{ servico.get_tipo_display }} <br/>
	</p>

	<form action="" method="post">
		{% csrf_token %}
		<p>
			<button type="submit">Remover</button> ou <a href="{% url 'cadastro:homeCliente' %}">Cancelar</a>
		</p>
	</form>

{% endblock %}