{% extends 'servico/inicio_equipamento.html' %}

{% block titulo %}{{block.super}} - Remover{% endblock %}

{% block corpo %}
<div class="container">
	<h2 class="subinicioapp">Remover</h2>
	
	<p>Remover equipamento {{ equipamento.nome }}?</p>
	
	<p>
		<p>
			Código: {{ equipamento.codigo }} <br/>
			Nome: {{ equipamento.nome }} <br/>
		</p>
	</p>

	<form action="" method="post">
		{% csrf_token %}
		<p>
			<button type="submit">Remover</button> ou <a href="{% url 'cadastro:homeCliente' %}">Cancelar</a>
		</p>
	</form>

</div>
{% endblock %}