{% extends 'servico/inicio_equipamento.html' %}

{% block titulo %}{{block.super}} - Remover{% endblock %}

{% block corpo %}

<form method="post">{% csrf_token %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Remover equipamento {{ equipamento.nome }}?
    </div>
    <div class="panel-body">
        <p>Deseja realmente excluir o equipamento <strong>{{ equipamento.nome }}</strong>?</p>
    </div>
    <div class="panel-footer">		
		<p>
			Código: {{ equipamento.codigo }} <br/>
			Nome: {{ equipamento.nome }} <br/>
		</p>		
        <a class="btn btn-default" href="{% url 'servico:homeEquipamento' %}">Cancelar</a>
        <button class="btn btn-danger pull-right" type="submit">Excluir {{ cliente.nome }}</button>
    </div>
</div>
</form>
{% endblock %}