{% extends 'base.html' %}

{% block titulo %}{{block.super}}:Clientes{% endblock %}

{% block corpo %}
	<div class="col-md-5 col-md-offset-4">
		<h1>Relação de clientes</h1>

		<h2>Total de Clientes: {{ total_clientes }}</h2>
		<h2>Total de Serviços: {{ total_servicos }}</h2>
		<h2>Total de Serviços Concluidos: {{ total_servicos_concluidos }}</h2>
		<h2>Total de Serviços Cancelado: {{ total_servicos_cancelados }}</h2>
		<h2>Total de Serviços Pendente: {{ total_servicos_pendentes }}</h2>
		
	</div>
{% endblock %}