{% extends 'cadastro/inicio_cadastro.html' %}

{% block titulo %}{{block.super}} - Listar{% endblock %}

{% block corpo %}
<h2 class="subinicioapp">Listar</h2>

<table>
	<thead>
		<td>---</td>
		<th>Código</th>
		<th>Nome</th>
		<th>Sobrenome</th>
		<th>Editar</th>
		<th>Detalhes</th>
	</thead>

	<tbody>
		{% for cliente in lista_clientes %}
			<tr>
				<td><a href="{% url 'cadastro:removeCliente' cliente.id %}">Exluir</a></td>
				<td>{{ cliente.codigo }}</td>
				<td>{{ cliente.nome }}</td>
				<td>{{ cliente.sobrenome }}</td>	
				<td><a href="{% url 'cadastro:editarCliente' cliente.id %}">Editar</a></td>
				<td><a href="{% url 'cadastro:detalheCliente' cliente.id %}">Detalhes</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}