{% extends 'cadastro/inicio_cadastro.html' %}

{% block corpo %}
	{{ block.super }}
<p>Cadastros</p>

<table>
	<thead>
		<th>Código</th>
		<th>Nome</th>
		<th>Sobrenome</th>
		<th>Detalhes</th>
	</thead>

	<tbody>
		{% for cliente in lista_clientes %}
			<tr>
				<td>{{ cliente.id }}</td>
				<td>{{ cliente.nome }}</td>
				<td>{{ cliente.sobrenome }}</td>	
				<td><a href="{% url 'cadastro:editarCliente' cliente.id %}">Editar</a></td>
				<td><a href="{% url 'cadastro:detalheCliente' cliente.id %}">Detalhes</a></td>
			</tr>
		{% empty %}
			<tr>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}