{% extends 'cadastro/inicio_cadastro.html' %}

{% load bootstrap3 %}

{% block titulo %}{{block.super}} - Listar{% endblock %}

{% block corpo %}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title" style="text-align: center;">Usuários</h1>
		</div>
			<table class="table table-hover">
				<thead>
					<th>Excluir</th>
					<th>Código</th>
					<th>Usuário</th>
					<th>Tipo</th>
					<th>Data de Cadastro</th>
					<th>Editar</th>
					<th>Detalhes</th>
				</thead>

				<tbody>
					{% for cadastro in lista_cadastros %}
						<tr>
							<td><a class="btn btn-danger" href="{% url 'cadastro:removeCadastro' cadastro.id %}">Excluir</a></td>
							<td>{{ cadastro.codigo }}</td>
							<td>{{ cadastro.nome }}</td>
							<td>{{ cadastro.get_tipo_display }}</td>	
							<td>{{ cadastro.dataCadastro|date:"d \d\e F \d\e Y"}}</td>
							<td><a class="btn btn-warning" href="{% url 'cadastro:editarCadastro' cadastro.id %}">Editar</a></td>
							<td><a class="btn btn-primary" href="{% url 'cadastro:detalheCadastro' cadastro.id %}">Detalhes</a></td>
						</tr>
					{% empty %}
						<tr>
							<td>---</td>
							<td>---</td>
							<td>---</td>
							<td>---</td>
							<td>---</td>
							<td>---</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}