{% extends 'cadastro/inicio_cliente.html' %}

{% block titulo %}{{block.super}} - Remover{% endblock %}

{% block corpo %}

<form method="post">{% csrf_token %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Remover cliente {{ cliente.nome }}?
    </div>
    <div class="panel-body">
        <p>Deseja realmente excluir o cliente <strong>{{ cliente.nome }}</strong>?</p>
    </div>
    <div class="panel-footer">		
		<p>
			Código: {{ cliente.codigo }} <br/>
			Nome: {{ cliente.nome }} <br/>
		</p>		
        <a class="btn btn-default" href="{% url 'cadastro:homeCliente' %}">Cancelar</a>
        <button class="btn btn-danger pull-right" type="submit">Excluir {{ cliente.nome }}</button>
    </div>
</div>
</form>
{% endblock %}