{% extends 'cadastro/inicio_cadastro.html' %}

{% block titulo %}{{block.super}} - Remover{% endblock %}

{% block corpo %}
<form method="post">{% csrf_token %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Remover usuário {{ cadastro }}?
    </div>
    <div class="panel-body">
        <p>Deseja realmente excluir o usuário <strong>{{ cadastro }}</strong>?</p>
    </div>
    <div class="panel-footer">
		<p>
			Nome: {{ cadastro.nome }} <br/>
			Sobrenome: {{ cadastro.sobrenome }} <br/>
			E-mail: {{ cadastro.email }} <br/>
		</p>
        <a class="btn btn-default" href="{% url 'cadastro:homeCadastro' %}">Cancelar</a>
        <button class="btn btn-danger pull-right" type="submit">Excluir {{ cadastro }}</button>
    </div>
</div>
</form>
{% endblock %}