<!DOCTYPE html>
<html>

{# Load the tag library #}

<head>
	<title>{% block titulo %}SCOSI{% endblock %}</title>
	{% block link %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sisteda de Cadastro e Controle de Orde de Serviço de instalação">
    <meta name="author" content="Holocron IFRN">
	{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
		<link rel="stylesheet" href="{% static 'css/sticky-footer-navbar.css' %}">
		<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
	{# Load CSS and JavaScript #}
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% endblock %}
	<meta charset="UTF-8"/>
</head>

<body>
{% include "menu.html" %}

{% block corpo %}
    <div class="container">
    
	{# Display django.contrib.messages as Bootstrap alerts #}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    
    </div>
{% endblock %}

{% include "rodape.html" %}
</body>

</html>