<div class="menu">
	<ul>
		<li><a href="{% url 'home' %}">Início</a></li>
		
		<li>
			<a href="{% url 'cadastro:homeCadastro' %}">Cadastros</a>
			<ul>
				<li><a href="{% url 'cadastro:listarCadastro' %}">Listar</a></li>
				<li><a href="{% url 'cadastro:adicionarCadastro' %}">Cadastrar Usuário</a></li>
			</ul>
		</li>
		
		<li>
			<a href="{% url 'servico:homeServico' %}">Serviços</a>
			<ul>
				<li><a href="{% url 'servico:listarServico' %}">Listar</a></li>
				<li><a href="{% url 'servico:adicionarServico' %}">Cadastrar Serviço</a></li>
			</ul>
		</li>
		
		<li>
			<a href="{% url 'servico:homeEquipamento' %}">Equipamento</a>
			<ul>
				<li><a href="{% url 'servico:listarEquipamento' %}">Listar</a></li>
				<li><a href="{% url 'servico:adicionarEquipamento' %}">Cadastrar Equipamento</a></li>
			</ul>
		</li>

		<li>
			<a href="{% url 'cadastro:homeCliente' %}">Cliente</a>
			<ul>
				<li><a href="{% url 'cadastro:listarCliente' %}">Listar</a></li>
				<li><a href="{% url 'cadastro:adicionarCliente' %}">Cadastrar Cliente</a></li>
			</ul>
		</li>
		
		<li><a href="/sobre/">Sobre</a></li>

		<li><a href="/admin/">Administração</a></li>
	</ul>
</div>