<div class="menu">
	<!--<ul>
		<li><a href="{% url 'home' %}">Início</a></li>
		
		<li>
			<a href="{% url 'cadastro:homeCadastro' %}">Cadastros</a>
			<ul>
				<li><a href="{% url 'cadastro:listarCadastro' %}">Listar</a></li>
				<li><a href="{% url 'cadastro:adicionarCadastro' %}">Cadastrar Usuário</a></li>
			</ul>
		</li>
		
		<li>
			<a href="{% url 'servico:homeServico' %}">Serviços</a>
			<ul>
				<li><a href="{% url 'servico:listarServico' %}">Listar</a></li>
				<li><a href="{% url 'cadastro:adiconarServico' %}">Cadastrar Serviço</a></li>
			</ul>
		</li>
		
		<li>
			<a href="{% url 'servico:homeEquipamento' %}">Equipamento</a>
			<ul>
				<li><a href="{% url 'servico:listarEquipamento' %}">Listar</a></li>
				<li><a href="{% url 'servico:adicionarEquipamento' %}">Cadastrar Equipamento</a></li>
			</ul>
		</li>

		<li>
			<a href="{% url 'cadastrar:homeCliente' %}">Equipamento</a>
			<ul>
				<li><a href="{% url 'cadastrar:listarCliente' %}">Listar</a></li>
				<li><a href="{% url 'servico:adicionarCliente' %}">Cadastrar Equipamento</a></li>
			</ul>
		</li>
		-->
		
		<li><a href="/sobre/">Sobre</a></li>
	</ul>
</div>