<div class="menu">
	<ul>
		<li><a href="{% url 'home' %}">Início</a></li>
		
		<li>
			<a href="{% url 'cadastro:homeCadastro' %}">Usuários</a>
			<ul>
				<li><a href="{% url 'cadastro:listarCadastro' %}">Listar Usuários</a></li>
				<li><a href="{% url 'cadastro:adicionarCadastro' %}">Cadastrar Usuários</a></li>
			</ul>
		</li>
		
		<li>
			<a href="{% url 'servico:homeServico' %}">Serviços</a>
			<ul>
				<li><a href="{% url 'servico:listarServico' %}">Listar Serviços</a></li>
				<li><a href="{% url 'servico:adicionarServico' %}">Cadastrar Serviços</a></li>
			</ul>
		</li>
		
		<li>
			<a href="{% url 'servico:homeEquipamento' %}">Equipamentos</a>
			<ul>
				<li><a href="{% url 'servico:listarEquipamento' %}">Listar Equipamentos</a></li>
				<li><a href="{% url 'servico:adicionarEquipamento' %}">Cadastrar Equipamentos</a></li>
			</ul>
		</li>

		<li>
			<a href="{% url 'cadastro:homeCliente' %}">Clientes</a>
			<ul>
				<li><a href="{% url 'cadastro:listarCliente' %}">Listar Clientes</a></li>
				<li><a href="{% url 'cadastro:adicionarCliente' %}">Cadastrar Clientes</a></li>
			</ul>
		</li>
		
		<li><a href="/sobre/">Sobre</a></li>

		<li><a href="/admin/">Administração</a></li>
	</ul>
</div>